<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Zayso Layout{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/ceradzayso/css/NatGames2014.css') }}" media="all" />
</head>
<body>
<div class="cerad_zayso_header">
    <a href="http://apps.ayso.org/ng/" target="_blank">
        <img src="/bundles/ceradzayso/images/NatGames2014Logo.png" 
             alt="National Games 2014 Site" 
             width="100" height="100" style="float: left">
    </a>
    <div class="cerad_zayso_header_title">
         <p>2014 AYSO<br>NATIONAL GAMES</p>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="cerad_zayso_top_menu">
    <ul class="cerad_zayso_top_menu_left">
        <li><a href="{{ path('cerad_zayso_welcome')     }}">Welcome</a></li>
        <li><a href="{{ path('cerad_zayso_text_alerts') }}">Text Alerts</a></li>
        <li><a href="{{ path('cerad_zayso_classes')     }}">Classes</a></li>
    </ul>
    <ul class="cerad_zayso_top_menu_right">
        <li><a href="{{ path('cerad_zayso_admin')       }}">Admin</a></li>
        <li><a href="{{ path('cerad_zayso_contact')     }}">Contact</a></li>
    </ul>
</div>

{% block cerad_zayso_content %}{% endblock cerad_zayso_content %}

</body>
</html>
