{% extends "@project/layout.html.twig" %}

{% block title %}Zayso Schedule{% endblock %}

{% block cerad_zayso_content %}
<div class="cerad_zayso_content">
<h1>Schedule Information</h1>
<table id="zayso_schedule_table" border="1" style="max-width: 850px;" class="zayso_schedule_table">
    <tr><th colspan="7">Team Schedule 2012 - Game Count {{ games | length }}</th></tr>
    <tr><td colspan="7">PP=Pool Play, QF=Quarter-Final, SF=Semi-Final, CM=Consolation Match, FM=Final Match</td></tr>
    <tr>
        <td>Game</td>
        <td>DOW Time</td>
        <td>Field</td>
        <td>Pool</td>
        <td>Home Team</td>
        <td>Away Teams</td>
    </tr>
    {% for game in games %}
    <tr id="team-sched-{{game.num}}" class="game-status-{{game.status}}">
        <td>
            {{ game.num }}
        </td>
        <td>{{ game.date }} {{ game.time }}</td>
        <td>{{ game.fieldDesc            }}</td>
        <td>{{ game.pool                 }}</td>
        <td>{{ game.homeTeam.team.desc   }}</td>
        <td>{{ game.awayTeam.team.desc   }}</td>
     </tr>
    {% endfor %}       
</table>
</div>
{% endblock %}
